@page
@model Music_Band_Website.Pages.Account.Retreive_PasswordModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/account/sign_in.css?v=1.1">

<body>
    <div class="login-container">
        @if (TempData["Error"] != null)
        {
            <div class="alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert-success">@TempData["Success"]</div>
        }

        <form method="post" class="login-form">
            <h1 class="title">Възстановяване на парола</h1>
            <p class="info-text">Въведете своя имейл адрес, за да получите инструкции за нулиране на паролата.</p>

            <div class="input-group">
                <input type="email" placeholder="Имейл" asp-for="email" required>
                @if (TempData["EmailError"] != null)
                {
                    <div class="alert-danger">@TempData["EmailError"]</div>
                }
            </div>

            <button type="submit" class="btn-submit">Изпрати</button>
            <p class="links">Спомнихте си паролата? <a asp-page="/Account/Sign_In">Вход</a></p>
        </form>
    </div>
</body>
